@using Transfermarkt.Web.Models;
@using X.PagedList;
@model IPagedList<Stadium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (!Model.Any())
{
    <h3>We don't have stadiums in our database</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date built
                </th>
                <th>
                    Capacity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateBuilt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    @X.PagedList.Mvc.Core.HtmlHelper.PagedListPager(Html, Model, page => $"/Stadiums/Index?page={page}")
}
<style>
    .pagination li {
        height: 20px;
        width: 20px;
        font-size: 30px;
        margin: 10px;
    }
</style>
