@model Transfermarkt.Web.Models.Coach
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="book-example panel panel-primary">
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <strong>@Html.LabelFor(model => model.FirstName, new { @class = "col-lg-2 control-label" })</strong>
                @Html.DisplayFor(model => model.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <strong> @Html.LabelFor(model => model.MiddleName, new { @class = "col-lg-2 control-label" })</strong>
                @Html.DisplayFor(model => model.MiddleName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <strong>@Html.LabelFor(model => model.LastName, new { @class = "col-lg-2 control-label" })</strong>
                @Html.DisplayFor(model => model.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <strong>@Html.LabelFor(model => model.Birthdate, new { @class = "col-lg-2 control-label" })</strong>
                @Html.DisplayFor(model => model.Birthdate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.ActionLink("Edit", "Edit",
                            new { id = ViewContext.RouteData.Values["id"] },
                            new { @class = "btn btn-primary" })
                    </br></br>
                    @Html.ActionLink("Back to List", "Index",
                    null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>



